{% extends 'main/base.html' %}

{% block content %}
    <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>About Me</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{% url 'home' %}">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">About</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <section class="company-description" style="margin-bottom: 100px;">
        <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{% url 'home' %}">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">About</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                    <img src="images/about/about-company.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <div class="block">
                        <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Why We are Different</h3>
                        <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <p  class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
                            Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                        </p>
                        
                    </div>
                </div> -->
                <div class="row" style="margin-top: 50px;">
                    <div class="col-md-8 body-bottom-pad">

                        <p>Tochi Okafor is a customer service/ marketing professional, an entrepreneur for over 8years covering the fashion industry, Oil and gas and also network marketing industries.
                        She has facilitated several business trainings and workshops all around Lagos where she had showcased her super presentation and information sharing skills.</p>
                        <p>After spending some time in one of the Nigerian banks in the customer service where she served diligently, in 2008 she moved to an Oil and gas firm in Lagos where she was given the role of COO. Not only was she the next in line to the MD but she was also responsible for the management of 15 staff. Her people management skills was put to the test and she was applauded for a successful role.</p>
                        <p>She has a BSc in Psychology from the University of Surrey, Roehampton UK and also a Life coaching certification.</p> 
                        <p>She’s passionate about change and also a part of the Shumamite foundation a foundation set up to fight the several injustices many Nigerians face on a daily bases.</p>
                        <p>An extremely industrious young woman with over 10 years of cumulative experience in her career and business, Tochi is the CEO Pristine Aides and services ltd and Excited living ventures, these two companies represent what her life epitomises. Pristine is an agency for unskilled workers where she trains them to do everyday jobs professionally, and excited living is her life coaching business where she teaches individuals strategies to live an excited and well rounded life.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="http://s3.amazonaws.com/mlmstandard/tochi.jpg" class="img-responsive">
                    </div>
                </div>
        </div>
    </section>
{% endblock %}