<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/png" href="images/favicon.png">
        <title>Excited Living By Tochi - {{ title }}</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{% static 'blog/css/ionicons.min.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'blog/css/animate.css' %}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{% static 'blog/css/slider.css' %}">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="{% static 'blog/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/jquery.fancybox.css' %}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
        <!-- responsive css -->
        <link rel="stylesheet" href="{% static 'blog/css/responsive.css' %}">
        
        <!-- Template Javascript Files
        ================================================== -->
        <!-- modernizr js -->
        <script src="{% static 'blog/js/vendor/modernizr-2.6.2.min.js' %}"></script>
        <!-- jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- owl carouserl js -->
        <script src="{% static 'blog/js/owl.carousel.min.js' %}"></script>
        <!-- bootstrap js -->

        <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
        <!-- wow js -->
        <script src="{% static 'blog/js/wow.min.js' %}"></script>
        <!-- slider js -->
        <script src="{% static 'blog/js/slider.js' %}"></script>
        <script src="{% static 'blog/js/jquery.fancybox.js' %}"></script>
        <!-- template main js -->
        <script src="{% static 'blog/js/main.js' %}"></script>
    </head>
    <body>
        <!--
        ==================================================
        Header Section Start
        ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->
                    
                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="index.html" >
                            <img src="images/logo.png" alt="">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{% url 'home' %}" >Home</a>
                            </li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Work With Me <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="{% url 'index' %}">One on One Coaching</a></li>
                                        <li><a href="{% url 'index' %}">Trainings and Development</a></li>
                                        <li><a href="{% url 'index' %}">Small Group Retreats</a></li>
                                        <li><a href="{% url 'index' %}">Virtual Coaching</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="{% url 'index' %}">Be Inspired</a>
                                <!-- <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="blog-fullwidth.html">Blog Full</a></li>
                                        <li><a href="blog-left-sidebar.html">Blog Left sidebar</a></li>
                                        <li><a href="blog-right-sidebar.html">Blog Right sidebar</a></li>
                                    </ul>
                                </div> -->
                            </li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            <li><a href="{% url 'index' %}">Blog</a></li>
                            
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>

        <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        

        <!-- 
        ================================================== 
            Company Description Section Start
        ================================================== -->
        {% block content %}
            <section class="company-description">
                <div class="container">
                    <div class="row">
                        <!-- <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                            <img src="images/about/about-company.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-6">
                            <div class="block">
                                <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Why We are Different</h3>
                                <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                                <p  class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
                                    Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                                </p>
                                
                            </div>
                        </div> -->
                        <div class="col-md-12">
                            <p>Tochi Okafor is a customer service/ marketing professional, an entrepreneur for over 8years covering the fashion industry, Oil and gas and also network marketing industries.
                            She has facilitated several business trainings and workshops all around Lagos where she had showcased her super presentation and information sharing skills.</p>
                            <p>After spending some time in one of the Nigerian banks in the customer service where she served diligently, in 2008 she moved to an Oil and gas firm in Lagos where she was given the role of COO. Not only was she the next in line to the MD but she was also responsible for the management of 15 staff. Her people management skills was put to the test and she was applauded for a successful role.</p>
                            <p>She has a BSc in Psychology from the University of Surrey, Roehampton UK and also a Life coaching certification.</p> 
                            <p>She’s passionate about change and also a part of the Shumamite foundation a foundation set up to fight the several injustices many Nigerians face on a daily bases.</p>
                            <p>An extremely industrious young woman with over 10 years of cumulative experience in her career and business, Tochi is the CEO Pristine Aides and services ltd and Excited living ventures, these two companies represent what her life epitomises. Pristine is an agency for unskilled workers where she trains them to do everyday jobs professionally, and excited living is her life coaching business where she teaches individuals strategies to live an excited and well rounded life.</p>
                        </div>
                    </div>
                </div>
            </section>


            <!-- 
            ================================================== 
                Company Feature Section Start
            ================================================== -->
            <section class="about-feature clearfix">
                <div class="container-fluid">
                    <div class="row">
                        <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                            <h2>
                            Why Choose Us
                            </h2>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.
                            </p>
                        </div>
                        <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            <h2 class="item_title">
                            What You Get
                            </h2>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.
                            </p>
                        </div>
                        <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                            <h2 class="item_title">
                            Meet The Energy
                            </h2>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.
                            </p>
                        </div>
                    </div>
                </div>
            </section>


            <!-- 
            ================================================== 
                Team Section Start
            ================================================== -->
            <section id="team">
                <div class="container">
                    <div class="row">
                        <h2 class="subtitle text-center">Meet The Team</h2>
                        <div class="col-md-3">
                            <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                                <div class="team-img">
                                    <img src="images/team/team-1.jpg" class="team-pic" alt="">
                                </div>
                                <h3 class="team_name">Jonathon Andrew</h3>
                                <p class="team_designation">CEO, Project Manager</p>
                                <p class="team_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
                                <p class="social-icons">
                                    <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                                    <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                                    <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                                    <a href="#" target="_blank"><i class="ion-social-googleplus-outline"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                                <div class="team-img">
                                    <img src="images/team/team-2.jpg" class="team-pic" alt="">
                                </div>
                                <h3 class="team_name">Jesmin Martina</h3>
                                <p class="team_designation">CEO, Project Manager</p>
                                <p class="team_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore .</p>
                                <p class="social-icons">
                                    <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                                    <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                                    <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                                    <a href="#" target="_blank"><i class="ion-social-googleplus-outline"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                                <div class="team-img">
                                    <img src="images/team/team-3.jpg" class="team-pic" alt="">
                                </div>
                                <h3 class="team_name">Deu John</h3>
                                <p class="team_designation">CEO, Project Manager</p>
                                <p class="team_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore .</p>
                                <p class="social-icons">
                                    <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                                    <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                                    <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                                    <a href="#" target="_blank"><i class="ion-social-googleplus-outline"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                                <div class="team-img">
                                    <img src="images/team/team-4.jpg" class="team-pic" alt="">
                                </div>
                                <h3 class="team_name">Anderson Martin</h3>
                                <p class="team_designation">CEO, Project Manager</p>
                                <p class="team_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore .</p>
                                <p class="social-icons">
                                    <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                                    <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                                    <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                                    <a href="#" target="_blank"><i class="ion-social-googleplus-outline"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--
            ==================================================
            Clients Section Start
            ================================================== -->
            <section id="clients">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="subtitle text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Our Happy Clinets</h2>
                            <p class="subtitle-des text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, error.</p>
                            <div id="clients-logo" class="owl-carousel">
                                <div>
                                    <img src="images/clients/logo-1.jpg" alt="">
                                </div>
                                <div>
                                    <img src="images/clients/logo-2.jpg" alt="">
                                </div>
                                <div>
                                    <img src="images/clients/logo-3.jpg" alt="">
                                </div>
                                <div>
                                    <img src="images/clients/logo-4.jpg" alt="">
                                </div>
                                <div>
                                    <img src="images/clients/logo-5.jpg" alt="">
                                </div>
                                <div>
                                    <img src="images/clients/logo-1.jpg" alt="">
                                </div>
                                <div>
                                    <img src="images/clients/logo-2.jpg" alt="">
                                </div>
                                <div>
                                    <img src="images/clients/logo-3.jpg" alt="">
                                </div>
                                <div>
                                    <img src="images/clients/logo-4.jpg" alt="">
                                </div>
                                <div>
                                    <img src="images/clients/logo-5.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
        
        <!--
        ==================================================
        Call To Action Section Start
        ================================================== -->
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">SO WHAT YOU THINK ?</h1>
                            <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis,</br>possimus commodi, fugiat magnam temporibus vero magni recusandae? Dolore, maxime praesentium.</p>
                            <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Work With Me</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!--
        ==================================================
        Footer Section Start
        ================================================== -->
        <footer id="footer">
            <div class="container">
                <div class="col-md-8">
                    <p class="copyright">Copyright: <span>2015</span> . Design and Developed by <a href="http://www.Themefisher.com">Themefisher</a></p>
                </div>
                <div class="col-md-4">
                    <!-- Social Media -->
                    <ul class="social">
                        <li>
                            <a href="#" class="Facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Twitter">
                                <i class="ion-social-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Linkedin">
                                <i class="ion-social-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Google Plus">
                                <i class="ion-social-googleplus"></i>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </footer> <!-- /#footer -->
        
    </body>
</html>