{% extends 'blog/base.html' %}

{% block content %}
    <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>{{ post.post_title }}</h2>
                            <div class="portfolio-meta">
                                <span>{{ post.pub_date }}</span>|<span>By {{ post.author }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section><!--/#Page header-->
            <section class="single-post">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-img">
                                <img class="img-responsive" alt="" style="width: 94%; margin: 0 auto;" src="{{ post.display }}">
                            </div>
                            <div class="post-content" id="postbody">
                                {% if post.inner %}
                                    <img src="{{ post.inner }}" style="float: right; max-width: 500px; max-height: 500px; padding: 0 0 20px 20px;">
                                {% endif %}
                                    
                            </div>
                            <ul class="social-share">
                                <h4>Share this article</h4>
                                <li>
                                    <a href="#" class="Facebook">
                                        <i class="ion-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="Twitter">
                                        <i class="ion-social-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="Linkedin">
                                        <i class="ion-social-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="Google Plus">
                                        <i class="ion-social-googleplus"></i>
                                    </a>
                                </li>
                                
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </section>
<script>
    var str = "{{ post.post_body }}";
    var post = document.getElementById('postbody');
    var arr = str.split(',,');

    for (var i = 0; i < arr.length; i++) {
        var paragraph = document.createElement("P");
        paragraph.innerHTML = arr[i];
        post.appendChild(paragraph);
    }
    console.log(str);

</script>
{% endblock %}