<!DOCTYPE html>
<html class="no-js">
    <head>
    {% load static %}
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/png" href="images/favicon.png">
        <title>Excited Living By Tochi - {{ title }}</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{% static 'blog/css/ionicons.min.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'blog/css/animate.css' %}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{% static 'blog/css/slider.css' %}">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="{% static 'blog/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/jquery.fancybox.css' %}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
        <!-- responsive css -->
        <link rel="stylesheet" href="{% static 'blog/css/responsive.css' %}">
        
        <!-- Template Javascript Files
        ================================================== -->
        <!-- modernizr js -->
        <script src="{% static 'blog/js/vendor/modernizr-2.6.2.min.js' %}"></script>
        <!-- jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- owl carouserl js -->
        <script src="{% static 'blog/js/owl.carousel.min.js' %}"></script>
        <!-- bootstrap js -->

        <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
        <!-- wow js -->
        <script src="{% static 'blog/js/wow.min.js' %}"></script>
        <!-- slider js -->
        <script src="{% static 'blog/js/slider.js' %}"></script>
        <script src="{% static 'blog/js/jquery.fancybox.js' %}"></script>
        <!-- template main js -->
        <script src="{% static 'blog/js/main.js' %}"></script>
    </head>
    <body>
        <!--
        ==================================================
        Header Section Start
        ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->
                    
                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="index.html" >
                            <img src="{% static 'blog/images/logo.jpg' %}" alt="">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{% url 'home' %}" >Home</a>
                            </li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Work With Me <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="{% url 'index' %}">One on One Coaching</a></li>
                                        <li><a href="{% url 'index' %}">Trainings and Development</a></li>
                                        <li><a href="{% url 'index' %}">Small Group Retreats</a></li>
                                        <li><a href="{% url 'index' %}">Virtual Coaching</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="{% url 'index' %}">Be Inspired</a>
                                <!-- <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="blog-fullwidth.html">Blog Full</a></li>
                                        <li><a href="blog-left-sidebar.html">Blog Left sidebar</a></li>
                                        <li><a href="blog-right-sidebar.html">Blog Right sidebar</a></li>
                                    </ul>
                                </div> -->
                            </li>
                            <li><a href="{% url 'index' %}">Contact</a></li>
                            <li><a href="{% url 'index' %}">Blog</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>
        <!--
        ==================================================
        Global Page Section Start
        ================================================== -->
        {% block content %}

        {% endblock %}
                    <!--
                    ==================================================
                    Call To Action Section Start
                    ================================================== -->
                    <section id="call-to-action">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block">
                                        <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="300ms">SO WHAT YOU THINK ?</h1>
                                        <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="300ms">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis,<br>possimus commodi, fugiat magnam temporibus vero magni recusandae? Dolore, maxime praesentium.</p>
                                        <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="300ms">Work With Me</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </section>
                    <!--
                    ==================================================
                    Footer Section Start
                    ================================================== -->
                    <footer id="footer">
                        <div class="container">
                            <div class="col-md-8">
                                <p class="copyright">Copyright: <span>2015</span> . Design and Developed by <a href="http://www.Themefisher.com">Themefisher</a></p>
                            </div>
                            <div class="col-md-4">
                                <!-- Social Media -->
                                <ul class="social">
                                    <li>
                                        <a href="#" class="Facebook">
                                            <i class="ion-social-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="Twitter">
                                            <i class="ion-social-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="Linkedin">
                                            <i class="ion-social-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="Google Plus">
                                            <i class="ion-social-googleplus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </footer> <!-- /#footer -->
                </body>
            </html>
        </html>